.list-menu {
  display: flex;
  font-size: 14px;
  padding: 15px 48px;
}
.icon-arrow {
  font-size: 12px;
  font-weight: 900;
  margin: 0 15px;
}
.all-products {
  color: var(--primary);
}
.collection {
  padding: 0 0 0 48px;
  margin-top: -5px;
  margin-bottom: 25px;
}
.category-products {
  padding: 0 20px;
}
.category-products-title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}
.product_border {
  border: 1px solid #f4f4f4;
  padding: 1px;
  display: block;
  float: left;

  width: 100%;
  margin-bottom: 30px;
  &:hover {
    border: 2px solid #ff9897;
    padding: 0px;
  }
  .product-box-h {
    position: relative;
    min-height: 420px;
  }
}
.product-thumbnail {
  a {
    width: 100%;
    text-align: center;
    img {
      display: block;
      max-height: 100%;
      width: auto !important;
      max-width: 100%;
    }
  }
}
.product-info {
  position: absolute;
  bottom: 40px;
  padding: 0 10px 0px 20px;
  width: 100%;
  h3 {
    font-size: 14px;
    margin: 20px 0 5px 0;
    font-weight: 400;
    height: auto;
  }
}

.product-hides {
  margin-top: 25px;
  span {
    color: var(--primary);
    font-size: 16px;
    display: block;
    font-weight: bold;
  }
}