.intro {
  background-color: var(--white);
}
.list-menu {
  display: flex;
  font-size: 14px;
  padding: 15px 48px;
}
.icon-arrow {
  font-size: 12px;
  font-weight: 900;
  margin: 0 15px;
}
.introduce {
  color: var(--primary);
}
.page-intro {
  background-color: #fff3f3;
}
.title-intro-page {
  padding: 0 44px;
}
.title-intro-page a {
  font-size: 36px;
  line-height: 1.4;
  font-weight: 400;
}
.content-intro-page {
  line-height: 1.7;
  font-size: 14px;
  padding: 0 44px;
}
.content-intro-page li {
  line-height: 2;
  list-style: disc outside;
}
