.section-brand {
  padding: 30px 0;
  background-color: #fff3f3;
}
// .container-fluid-no-max-width {
//   max-width: none;
// }

.slide-banner {
  padding: 0 150px;
}
.heading {
  padding-top: 20px;
}
.header-title {
  text-align: left;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
}
.btn-brand {
  color: #ff6564;
  font-size: 18px;
  text-transform: none;
  font-weight: 400;
}

